:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Color */
  --main-color: #757575;
  --secondary-color: #212121;
  --secondary-accent-color: #ffffff;
  --accent-color: #2196f3;
  --bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --grey-bg-color: #c4c4c4;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.image {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  padding: 0;
  border: none;

  font-family: inherit;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link.link {
  display: block;
  padding: 32px 0;

  color: var(--secondary-color);
}

.contacts-item:first-child {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}
/* Logo */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--accent-color);
}

.header-logo {
  margin-right: 93px;
}

.black-logo {
  color: #000;
}

.white-logo {
  color: #fff;
}

/* Hero section */

.hero {
  padding: 200px 0;

  background-color: var(--grey-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* Benefits section */

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-item {
  display: inline-block;
  width: 270px;
  margin-right: 30px;
}

.benefits-item:last-child {
  margin-right: 0;
}

.item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.item-text {
  display: inline;
}

/* Services section */

.services {
  padding-top: 0;
}

.services-title {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item {
  margin-right: 30px;
}

.services-item:last-child {
  margin-right: 0;
}

/* Team section */

.team {
  background-color: var(--secondary-bg-color);
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.member-item {
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-item:last-child {
  margin-right: 0px;
}

.member-item-group {
  padding: 30px 0;
}

.member-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Footer */

.footer {
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address-text,
.address-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Works section */

.works-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-filter-item {
  margin-right: 8px;
}

.works-filter-item:last-child {
  margin-right: 0;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-item {
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.works-item:nth-child(3n) {
  margin-right: 0;
}

.works-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-container {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

/* Links */
.link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: var(--main-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.work-link {
  font-family: inherit;
  text-decoration: none;
  color: currentColor;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* Buttons */

.works-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;

  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
}

.works-btn:hover,
.works-btn:focus,
.current-btn {
  color: var(--secondary-accent-color);
  background-color: var(--accent-color);
}

/* Headings */

.benefits-title,
.services-title,
.team-title,
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.benefits-title,
.services-title,
.team-title,
.works-title,
.item-title,
.member-title,
.work-title {
  color: var(--secondary-color);
}

/* Visualy hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Text */
.member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
}

.footer-address {
  font-style: normal;
  color: var(--secondary-accent-color);
}

/* Lists */
.list {
  list-style: none;
}
